html, body {
    background-color: #3B5998;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar li a, .navbar .navbar-brand { 
    color: #ffffff !important;
    
}
.navbar li a:hover {
    color: #3B5998 !important;
    background-color: #ffffff;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: red !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}